.top {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 100px;
    color: blue;
}

.content {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 100px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: solid thin grey;
    padding: 14px;
}

table button {
    margin: 6px;
    border: none;
    width: 68px;
    height: 38px;
    color: white;
    border-radius: 20px;

}

.update-btn {
    background: rgb(20, 143, 20);
}

.delete-btn {
    background-color: red;
}