.top {
    text-align: right;
    margin-right: 100px;
    margin-bottom: 100px;
    color: blue;
}

.content {
    display: flex;
    justify-content: center;
}

.form {
    margin-top: 100px;
}

table, th, td {
    border: solid thin grey;
    border-collapse: collapse;
    padding: 14px;
}